
.shipment-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.field {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.field label {
    background-color: #edf2f7;
    padding: 0rem .2rem;
}

#chakra-modal-mymodal {
    max-width: calc(100vw - 50px);
}

#modalfoot {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}